<nav class="navbar" style="top:0;">

  
  <div class="navbar-brand">
    <img src="assets/no-location.png" alt="No Location" class="no-location-icon">    
      <span class="delivery-text">Découvrez si cet établissement livre chez vous...</span>
  </div>

  <div class="navbar-center">
     
      <div class="address-container">
          <div class="address-input">
              <img src="assets/location-line-icon-png.png" alt="Location Icon" class="location-icon">
              <span>What's your address?</span>
          </div>
          <button class="current-location-button">
              <img src="assets/source.png" alt="Location Arrow Icon" class="location-arrow-icon">
              Use current location
          </button>
      </div>
        
  </div>

 
  <div class="navbar-end">
      <div class="account-dropdown">
        <span>Account</span>
        <img src="assets/dropdown-icon.png" alt="dropdown-icon" style="width: 50px; margin-left: -10px;">
      </div>
    
      <div class="shopping-cart">
        <img src="assets/shopping bag.png" alt="Shopping Bag">
        <span class="notification-dot"></span>
      </div>
    
  </div>


    

</nav>

<body style=" margin-top: 150px;">
<div class="blurred-image-container">
  <img src="assets/bg-rest.jpg" alt="Blurred Image" class="blurred-image">
</div>

<div class="right-side-container">
  <div class="app-screenshot-box">
      <div class="app-screenshot-overlay">
          <img src="assets/gourm3.jpg" alt="App Screenshot" class="app-screenshot-image">
      </div>
      <div class="app-description-box">
          <h2 class="app-title" style="font-family: 'Poppins'; margin-top: 18px;" >Votre commande</h2>
          <p class="app-subtitle">Vous n'avez ajouté aucun produit. Quand vous le ferez, vous les verrez ici!</p>
      </div>
      <hr class="custom-divider">
      <p style="margin-top: 20px; align-items: center; text-align: center; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 14px; color: #b3b3b3;">
        <i class="info-icon" style="margin-right: 5px;"></i>
        Atteignez <strong style="font-weight: 500; color: #dbdbdb;">8,000 TND</strong> pour économiser 
        <strong style="font-weight: 500; color: #00bfa6;">1,000 TND</strong> de frais!
      </p>
      
  </div>
</div>

<div class="restaurant-card">
  <div class="restaurant-image">
      <img src="assets/images-gourmandise.png" alt="Gourmandise Logo">
  </div>
  <div class="restaurant-info" style="margin-left: -70px; margin-top: 30px;">
      <h2 class="restaurant-title" style="font-family: 'Outfit'; font-size: 2.5em; margin-bottom: 35px;">Gourmandise Lac 1</h2>
      <div class="restaurant-details">
          <div class="detail-item">
              <img src="assets/RatingLight.png" alt="Rating Icon">
              <span>83%</span>
          </div>
          <div class="detail-item">
              <img src="assets/EtaLight.png" alt="Delivery Time Icon">
              <span>-</span>
          </div>
          <div class="detail-item">
              <img src="assets/DeliveryFeeLight.png" alt="Delivery Cost Icon">
              <span>5,000 DT</span>
          </div>
      </div>
  </div>
</div>






<div class="header-container" >
  <div class="sections-container" >
      <i class="fas fa-th-large sections-icon"></i>
      <span class="sections-text">Sections</span>
  </div>
  <div class="search-bar-container">
      <input type="text" class="search-bar" placeholder="Recherche dans Gourmandise Lac 1">
  </div>
</div>

<div class="sections-list">
  <div class="section-item">Top des ventes</div>
  <div class="section-item">Viennoiseries</div>
  <div class="section-item">Glaces</div>
  <div class="section-item">Le Bar à Salade</div>
  <div class="section-item">Healthy Corner</div>
  <div class="section-item">Plats et Pâtes</div>
  <div class="section-item">Pizzas</div>
  <div class="section-item">Snacks</div>
  <div class="section-item">Pâtisserie Fine </div>
  <div class="section-item">Morceaux</div>
  <div class="section-item">Les Bouchées Sucrées</div>
  <div class="section-item">Les Tartes</div>
  <div class="section-item">Les Gâteaux</div>
  <div class="section-item">Les Petits-Fours</div>
  <div class="section-item" style=" padding-left: 10px;">Desserts</div>
 
</div>




<div class="card-container" >
  <div class="custom-card">
    <img src="assets/food-rest.jpg" alt="Spicy Spaghetti" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Spaghetti</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f1.jpg" alt="Food 1" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 1</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f2.jpg" alt="Food 2" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 2</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f3.jpg" alt="Food 3" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 3</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>
</div>




<div class="card-container" style="margin-top: 260px;">
  <div class="custom-card">
    <img src="assets/f10.jpg" alt="Spicy Spaghetti" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Lazania</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f7.jpg" alt="Food 1" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 1</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f8.jpg" alt="Food 2" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 2</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon"style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>

  <div class="custom-card">
    <img src="assets/f9.png" alt="Food 3" class="custom-card-image">
    <div class="custom-card-content">
      <h3 class="custom-card-title">Food 3</h3>
      <div class="custom-card-footer">
        <button class="custom-card-button">
          <img src="assets/bag.png" alt="Bag Icon" class="button-icon">commander
        </button>
        <div class="custom-card-rating" style="margin-top: -75px; margin-left: 2px">
          <img src="assets/star-icon.png" alt="Star Icon" class="rating-icon" style="margin-bottom: 5px;">
          <span style="margin-top: 6px;">8.5</span>
        </div>
        <span class="custom-card-price" style="margin-left: -40px;">35 dt</span>
      </div>
    </div>
  </div>
</div>

  <!-- SVG Background or Decoration -->
  <svg xmlns="http://www.w3.org/2000/svg" width="content" height="120">
    <path fill="rgb(255, 249, 246)" d="M-480 378c0 187 544 339 1216 339s1216-115 1216-339c0-223-95-236-1216-351S-480 191-480 378Z"/>
  </svg>
  
  <div style="background-color: rgb(255, 249, 246); width: 100vw; margin-top: -10px;">

    <div style="background-color: rgb(255, 249, 246); width: max-content; margin: 0 auto;">
  
      <div class="faq-section" style="max-width: 1200px; margin: 0 auto;">
        <h2 class="faq-title">
          <i class="faq-icon"></i>
          Questions fréquemment posées
        </h2>
        <div class="faq-container">
          <div class="faq-item" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
            <h3>Y a-t-il des promotions chez Gourmandise Lac 1 sur Speedoza ?</h3>
            <p>Les produits à prix réduit et les offres spéciales sont indiqués en orangé. Vous trouverez parfois des offres spéciales comme deux produits pour le prix d'un ou la livraison à prix réduit.</p>
          </div>
          <div class="faq-item" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
            <h3>Y a-t-il un montant de panier minimum chez Gourmandise Lac 1 ?</h3>
            <p>Gourmandise Lac 1 impose un montant de panier minimum. Mais pas d'inquiétude : si vous ne l'atteignez pas, nous vous livrerons quand même votre commande, sous réserve du paiement de frais supplémentaires.</p>
          </div>
          <div class="faq-item" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
            <h3>Quand puis-je commander chez Gourmandise Lac 1 ?</h3>
            <p>Pendant les horaires d'ouverture de Gourmandise Lac 1, vous pouvez passer commande à tout moment. Grâce à notre livraison rapide, vous dégusterez vos plats en quelques minutes ! Vous pouvez aussi programmer votre livraison pour l'heure qui vous arrange, même si l'établissement est actuellement fermé.</p>
          </div>
        </div>
        
        
      
      </div>
      
    </div>
  
  </div>
  


<div style="height: 150px;"></div> 
</body>