<div class="right-content">
    <div class="right-content-inner">
      <div class="text-wrapper">
        <h1 class="styled-text">Delivery Manager</h1>
        <h1 class="styled-text">Access</h1>
      </div>
      <div class="image-container">
       
        <img src="assets/food.png" alt="food Image" class="centered-image burger-image">
      </div>
      <div class="logo-container">
       <!--  <img src="assets/packFood.png" alt="Just Eat Logo" class="logo-image"> -->
        <span></span>
      </div>
    </div>
  </div>
  