<body>
<nav class="navbar" style="top:0;">
    <div class="navbar-brand">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <div class="brand-text">
        <span class="brand-name">Speedoza</span>
        <span class="sub-brand-name">administration</span> 
      </div>
    </div>

    <div class="navbar-center">
        <ul class="nav-menu">
            <li class="nav-item active">
                Find food
                <span class="nav-underline"></span>
            </li>
            <li class="nav-item">Categories</li>
            <li class="nav-item">Restaurants</li>
            <li class="nav-item">About us</li>
           
        </ul>
        <div class="address-container">
            <div class="address-input">
                <img src="assets/location-line-icon-png.png" alt="Location Icon" class="location-icon">
                <span>What's your address?</span>
            </div>
            <button class="current-location-button">
                <img src="assets/source.png" alt="Location Arrow Icon" class="location-arrow-icon">
                Use current location
            </button>
        </div>
          
    </div>

   
    <div class="navbar-end">
        <div class="account-dropdown">
          <span>Account</span>
          <img src="assets/dropdown-icon.png" alt="dropdown-icon" style="width: 50px; margin-left: -10px;">
        </div>
      
        <div class="shopping-cart">
          <img src="assets/shopping bag.png" alt="Shopping Bag">
          <span class="notification-dot"></span>
        </div>
      
    </div>

  
      

</nav>

<div class="profile-container">
    

    <div class="quote-box">
        <img src="assets/quote-sign.png" class="quote-mark left-quote">
        <p class="quote-text">Fast delivery and friendly staff. The food was hot and very tasty.</p>
        <img src="assets/quote-sign.png" class="quote-mark right-quote">
    </div>

    <div class="quality-food-box">
        <img src="assets/quality.png" class="food-icon" alt="Food Icon">
        <span class="quality-food-text">Quality Food</span>
    </div>

    
    <div class="centered-container">
        <img src="assets/Food-Delivery.png" alt="Centered Image" class="centered-image">
    </div>

    
   
    <!-- <img src="assets/bg-preview.png" alt="bg Image" class="bg-preview">
    <img src="assets/image-rest.png" alt="Profile Image" class="profile-image"> -->
     <!-- Cerise Image -->
     

     <div class="trust-box">
        <img src="assets/heart_icon.png" alt="Heart Icon" class="heart-icon">
        <span class="trust">People trust us</span>
        
    </div>

    
    
  
      
      <div class="popup-body-Product">
        <form>
          <div class="form-right">
            <img src="/assets/rond-orange.png" alt="Sample Image" style="margin-left: -50px; max-width:210%; margin-top: 350px;">
            <img src="/assets/image-rawpixel.png" alt="Sample Image-2" style="max-width: 140%; margin-left: -200px; margin-bottom: 230px; margin-top: -1000px;">
          </div>
        </form>
      </div>
    
    
     
    
    

</div>

<div class="customers-box" style="margin-top: -550px; margin-left: 800px;" >
    <div class="customers-content">
        <h3 class="customers-title">Our Customers</h3>
        <div class="avatars">
            <img src="assets/avatars-removebg-preview.png"  class="avatar">
            <div class="more-customers">
                2k+
            </div>
        </div>
    </div>
    <div class="icon-container">
        <img src="assets/615075.png" alt="Group Icon" class="icon">
    </div>
</div>

<div class="culinary-experience">
    Vivez une expérience culinaire<br>unique chez <span class="freedoza-text">Speedoza</span>
</div>

<div class="flesh" >
<img src="assets/hand-drawn.jpg" >
</div>

<div class="description-text">
    Découvrez les délices culinaires que nous vous offrons,<br> préparés avec passion et servis avec soin.
</div>


<div class="button-container1">
    <button class="buy-now-button">
        <img src="assets/shopping.png" alt="Icon" class="button-icon">
        Buy Now
    </button>

</div>
<div class="icon-button-wrapper">
    <button class="custom-icon-button" (click)="goToLogin()">
        <div class="arc-wrapper">
            <div class="arc-shape"></div>
            <div class="circle-content">
                <img src="assets/start-button-.png" alt="Icon" class="play-icon">
            </div>
        </div>
        How To Order
    </button>
</div>


<div class="social-buttons">
    <div class="social-button twitter">
        <img src="assets/twitter.png" alt="Twitter">
    </div>
    <div class="social-button instagram">
        <img src="assets/social-media.png" alt="Instagram">
    </div>
    <div class="social-button facebook">
        <img src="assets/facebook.png" alt="Facebook" width="25px;" height="25px">
    </div>
    <div class="social-button google">
        <img src="assets/google_.png" alt="Google">
    </div>
</div>









</body>